#background-image {
    background-image: url('./Pictures/background-mountain.JPG');
    background-repeat: no-repeat;  
    background-size: cover; 
}

footer {
    margin: 50px 100px;
}

/*back buttons*/
button {
    display: inline-flex;
    font-size: 10px;
    font-family: Helvetica;
    color:white;
    background-image: url('./Pictures/clyde.JPG');
    background-size: cover;
    width: 100px;
    height: 75px;
    margin: 0px 50px;
    text-align: top;
}


table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


img {
    display: block;
    max-width:450px;
    max-height:350px;
    width: auto;
    height: auto;
    border: 2px solid rgb(90, 61, 29);
    margin: 20px 10px 20px;
    float: left;
    
  }

  
#description {
    padding: 20px 20px;
    vertical-align: top;
}

#date {
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px 10px;
    font-weight: bold;
    color: black;
    background-color: rgba(255, 248, 220, 0.719);
    text-align: center;
    
}

/* title of the main page/page for each bird*/
h1 {
    text-align: center;
}

/*my name on main page/latin names for each bird?*/
h2 {
    text-align: center;
}

/*list of birds on main page*/
ul {
    display: inline-block;
    columns: 3;
    list-style-type: none;
    text-align: center;
}

/*list elements*/
li {
    padding: 10px 75px;
}

/*links in a list (will prevent black bar over image links)*/
li a {
    /*background-color: rgba(26, 26, 31, 0.651);*/
    background-image: url(Pictures/clyde.JPG);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 5px;
    padding: 1px 2px;
}

/*links on hover*/
a:hover {
    color:cornflowerblue;
}

hr {
    border-color:darkred;
}

#about {
    padding: 20px 150px 20px 20px;
    text-align: center;
    font-size: 20px;
}

.footer {
    background-color:rgba(97, 78, 78, 0.74);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 2px;
}